@inject UserManager<AppUser> _userManager;
@model List<PostDto>

<link href="~/css/Post.css" rel="stylesheet"/>
@{
    var user = await _userManager.GetUserAsync(User);
    
}

<div class="addButton" style="text-align:center;">
    <a asp-action="CreatePost" asp-controller="Post" style="text-decoration:none;background:black;padding:5px;font-size:20px;"><span style="color:white">Create Post</span></a>
</div>
<h1 style="text-align:center;color:white;margin-top:40px;">Posts</h1>
@foreach (var post in Model)
{

    var divCount = Model.IndexOf(post);
 
    <div class="post-container">
        <div class="user-info">
            <div class="user-avatar">
               <img src="@post.User?.ProfilePhoto">
            </div>
            <div class="user-details">
                <p><strong>@post.User?.UserName</strong></p>
                <p>@post.EditedDate.ToString("MMMM dd, yyyy")</p>
                @if (User.Identity.IsAuthenticated && user == post?.User || User.IsInRole("Admin"))
                {
                    <div class="post-actions">
                        <div class="delete-action">
                        <form asp-action="DeletePost" asp-controller="Post" method="post">
                            <input type="hidden" name="Id" value="@post.Id">
                            <button type="submit" class="delete-button"><i class="bi bi-trash"></i></button>
                        </form>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="post-header">
            <h1>@post.Header</h1>
            <p>@post.Text</p>
        </div>

        <div class="post-content">
            @if (!string.IsNullOrEmpty(post.ImageUrl))
            {      
                if (post.ContentType == "Video") {
                    <video width="500" height="500" controls>
                        <source src="@post.ImageUrl" type="video/mp4">
                        Tarayıcınız video oynatmayı desteklemiyor.
                    </video>
                }
                else
                {
                    <img src="@post.ImageUrl" alt="Post Image" />
                }
            }
        </div>

        <div class="post-stats">
            <div class="post-stat">
                <span id="likeCount_@divCount">@post.LikeCount</span>
                <button class="likeDislikeButtonStyle" onclick="fnPostLike('@post.Id','L','@divCount')"><span id="likeIcon_@divCount"><i class='bi bi-hand-thumbs-up'></i></span></button>
            </div>
            <div class="post-stat">
                <span id="dislikeCount_@divCount">@post.DislikeCount</span>
                <button class="likeDislikeButtonStyle" onclick="fnPostLike('@post.Id','D','@divCount')"><span id="dislikeIcon_@divCount"><i class='bi bi-hand-thumbs-down'></i></span></button>
            </div>
            <div class="post-stat">
                <span id="commCount_@divCount">@post.CommentCount</span>
                <button class="commentButtonStyle" onclick="openModal('@post.Id.ToString()')"><i class="bi bi-chat-dots"></i></button>
            </div>
        </div>
   </div>
}


   <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" style="padding-bottom:2em;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yorumlar</h5>
                <button type="button" onclick="getCommentCount()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="modal-body" style="padding:0;">
              </div>
            </div>
          </div>
        </div>
   <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Onay</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Yorum silinecek, onaylıyor musunuz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                        <button type="button" id="deleteCommentButton" class="btn btn-primary" onclick="confirmDelete()">Sil</button>
                    </div>
                </div>
            </div>
        </div>


<script>
    var commentId;
    var post;
    var divCount;

    function fnPostLike(post, type, divCount) {
        $.ajax({
            url: "/Like/AddLike",
            method: 'POST',
            data: {
                "LikeType": type,
                "PostId" : post
            },
            success: function (response) {
                    $("#likeCount_" + divCount).html(response.likeInfo.likeCount);
                    $("#dislikeCount_" + divCount).html(response.likeInfo.dislikeCount);
                    if (response.likeInfo.isLiked == true) $("#likeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-up-fill'></i>");
                    else if (response.likeInfo.isDisliked == true) $("#dislikeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-down-fill'></i>");
                    if (response.likeInfo.isLiked == false) $("#likeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-up'></i>");
                    if (response.likeInfo.isDisliked == false) $("#dislikeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-down'></i>");
            },
            error: function (xhr, status, error) {
                console.log("hata");
            }
        });
    }

    function openModal(id) {
    post = id;
    $.ajax({
        url: "/Comment/GetComments",
        method: 'GET',
        data: { "postId": id },
        dataType: 'html',
        success: function (response) {
            $("#modal-body").html(response);
            $('#myModal').modal('show');
        },
        error: function (xhr, status, error) {
            debugger;
            console.log("asdasd");
        }
    });
}
</script>