@model List<PostDto>

<link href="~/css/Post.css" rel="stylesheet"/>

<h1>Posts</h1>

@foreach (var post in Model)
{

    var divCount = Model.IndexOf(post);
 
    <div class="post-container">
        <div class="user-info">
            <div class="user-avatar"></div>
            <div class="user-details">
                <p><strong>@post.User?.UserName</strong></p>
                <p>@post.EditedDate.ToString("MMMM dd, yyyy")</p>
                <div class="post-actions">
                    <div class="delete-action">
                        <form asp-action="DeletePost" asp-controller="Post" method="post">
                            <input type="hidden" name="Id" value="@post.Id">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-header">
            <h1>@post.Header</h1>
        </div>

        <div class="post-content">
            @if (!string.IsNullOrEmpty(post.ImageUrl))
            {
                if (post.ContentType == "Video") {
                    <video width="500" height="500" controls>
                        <source src="@post.ImageUrl" type="video/mp4">
                        Tarayıcınız video oynatmayı desteklemiyor.
                    </video>
                }
                else
                {
                    <img src="@post.ImageUrl" alt="Post Image" />
                }
            }
            <p>@post.Text</p>
        </div>

        <div class="post-stats">
            <div class="post-stat">
                <strong id="divCount_@divCount">@post.LikeCount</strong>
                <button class="likeDislikeButtonStyle" onclick="fnPostLike('@post.Id','L','@divCount')" title="Beğendim">
            </div>
            <div class="post-stat">
                <strong>@post.DislikeCount</strong>
                Dislikes
            </div>
            <div class="post-stat">
                <strong>@post.CommentCount</strong>
                Comments
            </div>
        </div>

        @if (post.Comments != null && post.Comments.Any())
        {
            <div class="post-comments">
                <h3>Comments</h3>
                <ul>
                    @foreach (var comment in post.Comments)
                    {
                        <li>
                            <strong>@comment.User?.UserName:</strong> @comment.Text
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}


<script>
    function fnPostLike(post, type, divCount) {
        $.ajax({
            url: "/Like/AddLike",
            method: 'POST',
            data: {
                "LikeType": type,
                "PostId" : post
            },
            success: function (response) {
                if (!response.redirectUrl) {
                    $("#likeCount_" + divCount).html(response.likeCount);
                    $("#disLikeCount_" + divCount).html(response.dislikeCount);
                    if (response.isLiked == true) $("#likeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-up-fill'></i>");
                    else if (response.isDisliked == true) $("#dislikeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-down-fill'></i>");
                    if (response.isLiked == false) $("#likeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-up'></i>");
                    if (response.isDisliked == false) $("#dislikeIcon_" + divCount).html("<i class='bi bi-hand-thumbs-down'></i>");
                }
                else {
                    window.location.href = window.location.origin + response.redirectUrl;
                }
            },
            error: function (xhr, status, error) {
                console.log("asdasd");
            }
        });
    }
</script>