@model ProfileDto

<link href="~/css/Profile.css" rel="stylesheet" />

<div class="profile-container">
    <div class="profile-header">
        <img src="@Model.ProfilePhoto" alt="Profile Picture">
        <h1>@Model.Name @Model.Surname</h1>
        <h3>Human Resources</h3>
        <p>@Model.Position</p>
        <a class="edit-profile-btn" asp-action="EditProfile" asp-controller="User">Edit Profile</a>
    </div>
    <div class="profile-body">
        <h2>About Me</h2>
        <ul class="profile-info">
            <li><span>Birth Date:</span>@Model.BirthDate.ToString("d")</li>
            <li><span>Gender:</span>@Model.Gender.ToString()</li>
            <li><span>City:</span>@Model.City</li>
            <li><span>Education:</span>@Model.Education</li>
        </ul>
    </div>
</div>
